{% extends 'all-galla/base.html' %}


{% block content %}
<div class="container">
	<div class="row">
		{% for image_item in images %}
		<div class="col-md-4">
			<div class="card">
				<a href="{{image_item.image_name.url}}" data-0fancybox="images"><img class="img-responsive" style='width:100%; height:200px' src="{{image_item.image_name.url}}" alt="image"></a>
				<p class="title">{{image_item.title}}</p>
			</div>
		</div>
		{% empty %}
		<div class="row">
			<h2 class="text-center">There're No Images</h2>
		</div>
		{% endfor %}
	</div>
</div>

<style media="screen">
img{
	border-radius: 2px;
}
.card {
	margin-top: 3%;
	border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 375px;
  /* margin: auto; */
  text-align: center;
	background-color: #000;
}

.title {
  font-size: 18px;
	border: none;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	width: 100%;
}
.title:hover{
	opacity: 0.7;
}
</style>

{% endblock %}
